body{
    background: lavender;
    color: HotPink;
    margin:0;
}


.cover{
  background-image: url("images/doughnuts.jpg");
  height: 400px;
  background-position: center;
  background-size:cover;
  opacity: 0.6;
  /* https://www.courier-journal.com/story/life/food/2019/06/06/national-doughnut-day-donut-shops-louisville/1366335001/ */
}


h1{
  font-family: futura, sans-serif;
  font-size: 72px;
  text-align: center;
  margin:2%;
}
h2{
  font-family: futura, sans-serif;
  font-size: 32px;
  text-align:center;
  border: HotPink 10px solid;
  background-color: white;
  margin: 2%;
}
h3{
  font-family: futura, sans-serif;
}
a{
  color: MediumVioletRed;
  border: MediumVioletRed 2px solid;
}

img{
  width: 100%;
  width: 500px;
  margin: auto;
  display: block;
  border: HotPink 15px dotted;

}
#Girls_In_Bikinis.html{
                  font-size:2em;
                  color:#D65076;
}
#top{
  text-align: center;
  color: HotPink;
  font-family: impact, sans-serif;
}
ol{
  font-family: futura, sans-serif;
  font-size: 24px;
    padding: 1%;
    margin: 1%;
    width: 80%;
}
li{
  padding: 1%;
  margin: 1%;
  width: 90%;
}
.center{
  /* width:100%;
  margin: auto;
  display: block; */
}
